<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.exit.mapper.InformationMapper">

	<select id="list" resultType="erp.exit.domain.ProductVO">
	<![CDATA[
		SELECT rownum "rn", idx, code, codeName, buyer, buyerName, purchasing, purchasingName
		, buyCompany, buyCompanyName, inspectperson, currentInventory, price, inspect, disuse
        FROM 
        (SELECT idx, code, codeName, buyer, buyerName, purchasing, purchasingName
		, buyCompany, buyCompanyName, inspectperson, currentInventory, price, inspect, disuse
        FROM exit_product WHERE disuse='N' ORDER BY idx DESC)
		]]>
	</select>

	<insert id="register">
	<![CDATA[
		INSERT INTO exit_product(idx, code, codeName, buyer, buyerName, purchasing, purchasingName
		, buyCompany, buyCompanyName, inspectperson, currentInventory, price, inspect, disuse)
		VALUES (PRODUCT_IDX_SEQ.nextval,#{code},#{codeName},#{buyer},#{buyerName},#{purchasing},#{purchasingName}
		,#{buyCompany},#{buyCompanyName},#{inspectperson},#{currentInventory},#{price}
		,#{inspect},#{disuse})
	]]>
	</insert>
	
	<!-- 삭제품목 조회 기능 -->
	<select id="delSearch" resultType="erp.exit.domain.ProductVO">
	<![CDATA[
		SELECT * FROM exit_product WHERE code = #{code}
      ]]>
	</select>
	
	<select id="delSearch2" resultType="erp.exit.domain.ProductVO">
	<![CDATA[
		SELECT * FROM exit_product WHERE code = #{code}
      ]]>
	</select>
	<!-- 삭제품목 조회 기능 -->
	
	<!-- 삭제 & 백업 기능 -->
	<update id="delUpdateDD">
		UPDATE exit_product SET DISUSE = 'Y' WHERE code = #{code}
	</update>
	<insert id="delBackUpData">
		INSERT INTO exit_product_del_save SELECT * FROM exit_product WHERE DISUSE = 'Y'
	</insert>
	<delete id="delComplete">
		DELETE FROM exit_product WHERE code = #{code}
	</delete>
	<!-- 삭제 & 백업 기능 끝 -->
	
	<select id="selectSearchList" resultType="erp.exit.domain.ProductDTO">
		<![CDATA[
			SELECT rownum "rn", code, codeName, buyer, buyerName, purchasing, purchasingName
			, buyCompany, buyCompanyName, inspectperson, currentInventory, price,
			inspect, disuse FROM exit_product 
			WHERE ${type} LIKE '%'||#{keyword}||'%' ORDER BY rownum DESC
		]]>
	</select>
	
</mapper>
