<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.exit.mapper.InformationMapper">

	<select id="list" resultType="erp.exit.domain.ProductVO">
	<![CDATA[
		SELECT rownum rn, code, codeName, buyer, buyerName, purchasing, purchasingName
		, buyCompany, buyCompanyName, inspectperson, currentInventory, price, inspect, disuse
		FROM exit_product ORDER BY rownum DESC
		]]>
	</select>

	<insert id="register">
	<![CDATA[
		INSERT INTO exit_product(code, codeName, buyer, buyerName, purchasing, purchasingName
		, buyCompany, buyCompanyName, inspectperson, currentInventory, price, inspect, disuse)
		VALUES (#{code},#{codeName},#{buyer},#{buyerName},#{purchasing},#{purchasingName}
		,#{buyCompany},#{buyCompanyName},#{inspectperson},#{currentInventory},#{price}
		,#{inspect},#{disuse})
	]]>
	</insert>
	
	<select id="getListWithPaging" resultType="erp.exit.domain.ProductVO">
	<![CDATA[ 
		SELECT rn, code, codeName, buyer, buyerName, purchasing, purchasingName
		, buyCompany, buyCompanyName, inspectperson, currentInventory, price, inspect, disuse
		FROM (SELECT /*+ INDEX_desc(exit_product exit_product_pk) */
		rownum rn, code, codeName, buyer, buyerName, purchasing, purchasingName
		, buyCompany, buyCompanyName, inspectperson, currentInventory, price, inspect, disuse
		FROM exit_product WHERE
      ]]>	      
      	      
      <!-- <include refid="criteria"></include> -->
    
    <![CDATA[   	      
      	      rownum <= (#{pageNum} * #{amount}))
		where rn > ((#{pageNum}-1) * #{amount})
	]]>
	</select>

	<select id="delCodeSearch" resultType="erp.exit.domain.ProductVO">
	<![CDATA[
		SELECT * FROM exit_product WHERE code = #{code}
      ]]>
	</select>
	
	<select id="delCodeSearch2" resultType="erp.exit.domain.ProductVO">
	<![CDATA[
		SELECT * FROM exit_product WHERE code = #{code}
      ]]>
	</select>
	
	<delete id="delCodeComplete">
		DELETE FROM exit_product WHERE code = #{code}
	</delete>
	

	<select id="selectSearchList" resultType="erp.exit.domain.ProductDTO">
		<![CDATA[
			SELECT code, codeName, buyer, buyerName, purchasing, purchasingName
			, buyCompany, buyCompanyName, inspectperson,
			to_char(currentInventory, '999,999,999') "currentInventory",
			to_char(price, '999,999,999') "price",
			inspect, disuse FROM exit_product 
			WHERE ${type} LIKE '%'||#{keyword}||'%'
		]]>
	</select>
	
	

</mapper>
