<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.exit.mapper.InfoItemMapper">

	<!--자재코드 자동완성 쿼리   -->
	<select id="search" resultType="erp.exit.domain.InfoItemVO">
	<![CDATA[
		select DISTINCT(code) from exit_infoitem WHERE code LIKE '%'||#{code}||'%'
		]]>
	</select>
	
	<!--검사항목 자동완성 쿼리   -->
	<select id="search2" resultType="erp.exit.domain.InfoItemVO">
	<![CDATA[
		select DISTINCT(inspectionItem) from exit_infoitem WHERE code Like #{code} and INSPECTIONITEM Like '%'||#{inspectionItem}||'%'
		]]>
	</select>


	<select id="list" resultType="erp.exit.domain.InfoItemVO">
	<![CDATA[
		SELECT rownum "rn", idx, code, inspectionitem, inspectionitemname, qua, samplewater, ac
		, re, usl, sl, lsl, ucl, cl, lcl, unit, note
        FROM
        (SELECT idx, code, inspectionitem, inspectionitemname, qua, samplewater, ac
		, re, usl, sl, lsl, ucl, cl, lcl, unit, note 
		FROM exit_infoitem ORDER BY idx DESC)
		]]>
	</select>

	<insert id="register">
	<![CDATA[
		INSERT INTO exit_infoitem(idx, code, inspectionItem, inspectionItemName, qua, sampleWater, ac
		, re, usl, sl, lsl, ucl, cl, lcl, unit, note) 
		VALUES (INFOITEM_IDX_SEQ.nextval,#{code},#{inspectionItem},#{inspectionItemName},#{qua},#{sampleWater},#{ac}
		,#{re},#{usl},#{sl},#{lsl},#{ucl},#{cl},#{lcl},#{unit},#{note})
	]]>
	</insert>
	
	<!-- 삭제 &수정 조회 기능 -->
	<select id="itemSearch" resultType="erp.exit.domain.InfoItemVO">
	<![CDATA[
		SELECT * FROM exit_infoitem WHERE code = #{code} and INSPECTIONITEM = #{inspectionItem}
      ]]>
	</select>

<!--수정부분  -->
	<select id="InfoitemSearch2" resultType="int">
			<![CDATA[
			SELECT count(*) FROM exit_infoitem WHERE code = #{code} and inspectionItem = #{inspectionItem}
			  ]]>
	</select>

	<!-- 삭제 조회 기능 끝 -->
	
	
	<!-- 백업 & 삭제 기능 -->
	<insert id="delBackUpData">
		INSERT INTO exit_infoitem_del_save SELECT * FROM exit_infoitem WHERE code = #{code} and INSPECTIONITEM = #{inspectionItem}
	</insert>
	<delete id="delComplete">
		DELETE FROM exit_infoitem WHERE code = #{code} and INSPECTIONITEM = #{inspectionItem}
	</delete>
	<!-- 백업 & 삭제 기능 끝 -->
	
	
<update id="modify">
		UPDATE exit_infoitem SET inspectionItemName = #{inspectionItemName}
        , qua = #{qua}, samplewater = #{sampleWater}, ac = #{ac}
		, re = #{re}, usl = #{usl}, sl = #{sl}, lsl = #{lsl}, ucl = #{ucl}
        , cl = #{cl}, lcl = #{lcl}, unit = #{unit}
		, note = #{note}
		WHERE code = #{code} AND inspectionItem = #{inspectionItem}
	</update>
	
	<select id="selectSearchList" resultType="erp.exit.domain.InfoItemDTO">
		<![CDATA[
			SELECT rownum "rn", idx, inspectionitem, inspectionitemname, qua, samplewater, ac
			, re, usl, sl, lsl, ucl, cl, lcl, unit, creationdate, modifieddate, deldate
			, disposal, note 
			FROM exit_item 
			WHERE ${type} LIKE '%'||#{keyword}||'%' ORDER BY idx DESC
		]]>
	</select>
	
	
	<!-- [자동완성 기능] 1주차 Code 가져오기 -->
	<select id="regInfoSearch" resultType="erp.exit.domain.InfoItemVO">
		<![CDATA[
			SELECT DISTINCT(code) FROM exit_product WHERE code LIKE '%'||#{code}||'%'
		]]>
	</select>
	
	<!-- [자동완성 기능] 2주차 Item 가져오기 -->
	<select id="regItemSearch" resultType="erp.exit.domain.InfoItemVO">
		<![CDATA[
			SELECT DISTINCT(INSPECTIONITEM) FROM exit_item WHERE INSPECTIONITEM LIKE '%'||#{inspectionItem}||'%'
		]]>
	</select>
	
	<!-- 해당 2주차 ItemVO 가져오기 -->
	<select id="regItemData" resultType="erp.exit.domain.ItemVO">
		SELECT * FROM exit_item WHERE INSPECTIONITEM = #{inspectionItem}
	</select>
	
	<!-- Data 중복체크 (리스트로 리턴하는 이유는 .size()로 측정하려고 함. -->
	<select id="regCheck" resultType="erp.exit.domain.InfoItemVO">
		SELECT * FROM exit_infoitem WHERE code = #{code} AND INSPECTIONITEM = #{inspectionItem}
	</select>
	
	<!-- 각 code, item Data가 실제 있는 데이터인지 체크 (리스트로 리턴하는 이유는 .size()로 측정하려고 함. -->
	<select id="regDataCheck" resultType="erp.exit.domain.InfoItemVO">
		SELECT p.code, i.inspectionitem FROM exit_product p, exit_item i 
		WHERE p.code = #{code} AND i.inspectionitem = #{inspectionItem}
	</select>
	
</mapper>
