<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.exit.mapper.InspectionitemMapper">

	<select id="list" resultType="erp.exit.domain.ItemVO">
	<![CDATA[
		SELECT rownum "rn", idx, inspectionitem, inspectionitemname, qua, samplewater, ac
		, re, usl, sl, lsl, ucl, cl, lcl, unit, creationdate, modifieddate, deldate
		, disposal, note
        FROM
        (SELECT idx, inspectionitem, inspectionitemname, qua, samplewater, ac
		, re, usl, sl, lsl, ucl, cl, lcl, unit, creationdate, modifieddate, deldate
		, disposal, note 
		FROM exit_item ORDER BY idx DESC)
		]]>
	</select>

	<insert id="register">
	<![CDATA[
		INSERT INTO exit_item(idx, inspectionitem, inspectionitemname, qua, samplewater, ac
		, re, usl, sl, lsl, ucl, cl, lcl, unit, modifieddate, deldate
		, disposal, note) 
		VALUES (ITEM_IDX_SEQ.nextval,#{inspectionItem},#{inspectionItemName},#{qua},#{sampleWater},#{ac}
		,#{re},#{usl},#{sl},#{lsl},#{ucl},#{cl},#{lcl},#{unit},'1999-01-01','1999-01-01'
		,#{disposal},#{note})
	]]>
	</insert>
	
	<!-- 단일품목 조회 기능 -->
	<select id="itemSearch" resultType="erp.exit.domain.ItemVO">
	<![CDATA[
		SELECT * FROM exit_item WHERE inspectionitem = #{inspectionItem}
      ]]>
	</select>
	
	<select id="itemSearch2" resultType="erp.exit.domain.ItemVO">
	<![CDATA[
		SELECT * FROM exit_item WHERE inspectionitem = #{inspectionItem}
      ]]>
	</select>
	<!-- 단일품목 조회 기능 끝 -->
	
	<!-- 삭제 & 백업 기능 -->
	<update id="delUpdateDD">
		UPDATE exit_item SET deldate = SYSDATE WHERE INSPECTIONITEM = #{inspectionItem}
	</update>
	<insert id="delBackUpData">
		INSERT INTO exit_item_del_save SELECT * FROM exit_item WHERE INSPECTIONITEM = #{inspectionItem}
	</insert>
	<delete id="delComplete">
		DELETE FROM exit_item WHERE INSPECTIONITEM = #{inspectionItem}
	</delete>
	<!-- 삭제 & 백업 기능 끝 -->
	
	<update id="modify">
		UPDATE exit_item SET inspectionitem = #{inspectionItem}
		, inspectionitemname = #{inspectionItemName}
        , qua = #{qua}, samplewater = #{sampleWater}, ac = #{ac}
		, re = #{re}, usl = #{usl}, sl = #{sl}, lsl = #{lsl}, ucl = #{ucl}
        , cl = #{cl}, lcl = #{lcl}, unit = #{unit}, modifieddate = sysdate
		, disposal = #{disposal}, note = #{note}
		WHERE idx = #{idx}
	</update>
	
	<select id="selectSearchList" resultType="erp.exit.domain.ItemDTO">
		<![CDATA[
			SELECT rownum "rn", idx, inspectionitem, inspectionitemname, qua, samplewater, ac
			, re, usl, sl, lsl, ucl, cl, lcl, unit, creationdate, modifieddate, deldate
			, disposal, note 
			FROM exit_item 
			WHERE ${type} LIKE '%'||#{keyword}||'%' ORDER BY idx DESC
		]]>
	</select>
	
	<select id="regcheck" resultType="int">
		SELECT COUNT(*) FROM exit_item WHERE inspectionitem = #{inspectionItem}
	</select>
	
</mapper>
